<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h2>회원 정보 수정</h2>
<span id="memberId" th:text="'수정할 아이디는 ' + ${memberId} + ' 입니다.'"></span><br>
<p style="text-decoration: underline;">아이디를 동일하게 입력해주세요. (비밀번호가 일치해야 수정됩니다.)</p>
<!-- required 속성 적용으로 모든 내용이 채워져야 회원가입 가능   -->
<form th:action="@{'/api/user?id=' + ${memberId}}" method="POST">
    <label for="id">Id: </label>
    <input type="text" id="id" name="memberID" required><br><br>

    <label for="password">Password: </label>
    <input type="password" id="password" name="memberPassword" minlength="8" required><br><br>

    <label for="nickname">Nickname: </label>
    <input type="text" id="nickname" name="memberNickname" required><br><br>

    <label for="name">Name: </label>
    <input type="text" id="name" name="memberName" required><br><br>

    <label for="number">Phone Number: </label>
    <input type="text" id="number" name="memberPhoneNumber" required><br><br>

    <label for="email">Email: </label>
    <input type="email" id="email" name="memberEmail" required><br><br>

    <input type="submit" value="수정하기">
</form>
<script>

</script>

</body>
</html>